@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 33% 97%;
    --foreground: 15 38% 12%;

    --card: 0 0% 100%;
    --card-foreground: 15 38% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 15 38% 12%;

    --primary: 38 90% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 342 39% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 30 22% 91%;
    --muted-foreground: 20 15% 43%;

    --accent: 336 90% 82%;
    --accent-foreground: 15 38% 12%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 24 12% 89%;
    --input: 24 12% 89%;
    --ring: 38 90% 44%;

    --radius: 0.75rem;

    --sidebar-background: 30 33% 97%;
    --sidebar-foreground: 15 38% 12%;
    --sidebar-primary: 38 90% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 30 22% 91%;
    --sidebar-accent-foreground: 15 38% 12%;
    --sidebar-border: 24 12% 89%;
    --sidebar-ring: 38 90% 44%;
  }

  .dark {
    --background: 18 15% 7%;
    --foreground: 30 25% 93%;

    --card: 18 18% 12%;
    --card-foreground: 30 25% 93%;

    --popover: 18 18% 12%;
    --popover-foreground: 30 25% 93%;

    --primary: 42 96% 53%;
    --primary-foreground: 18 15% 7%;

    --secondary: 348 62% 66%;
    --secondary-foreground: 18 15% 7%;

    --muted: 20 12% 18%;
    --muted-foreground: 24 14% 60%;

    --accent: 340 92% 87%;
    --accent-foreground: 18 15% 7%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 30 25% 93%;

    --border: 20 12% 18%;
    --input: 20 12% 18%;
    --ring: 42 96% 53%;

    --sidebar-background: 18 15% 7%;
    --sidebar-foreground: 30 25% 93%;
    --sidebar-primary: 42 96% 53%;
    --sidebar-primary-foreground: 18 15% 7%;
    --sidebar-accent: 20 12% 18%;
    --sidebar-accent-foreground: 30 25% 93%;
    --sidebar-border: 20 12% 18%;
    --sidebar-ring: 42 96% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}
